/***====================================================================
    Funfacts Section CSS
====================================================================***/

.funfact-section {
    position: relative;
    padding: 120px 0 90px;
    .shape-thirtytwo {
        position: absolute;
        top: 95px;
        left: 0;
        @include media-breakpoint-down(sm){
            display: none
        }
    }
    .shape-thirtythree {
        position: absolute;
        top: 95px;
        right: 0;
        @include media-breakpoint-down(sm){
            display: none
        }
    }
    .bg {
        @include absolute;
        @include background;
    }
    .sec-title-outer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
        @include media-breakpoint-down(lg){
            flex-direction: column;
            gap: 15px;
            text-align: center;
        }
        .btn-box {
            padding-top: 30px;
        }
        h2 {
            max-width: 510px;
            @include media-breakpoint-down(lg){
                max-width: 100%;
            }
        }
        .text {
            max-width: 655px;
            line-height: 36px;
            font-weight: 300;
            color: var(--theme-color-light);
            @include media-breakpoint-down(lg){
                max-width: 100%;
            }
        }
    }
}

.counter-block {
	margin-bottom: 30px;
    .inner-box {
		position: relative;
        display: flex;
        align-items: center;
        gap: 30px;
        @include media-breakpoint-down(sm){
            gap: 15px;
            justify-content: center;
        }
        &:hover {
            .icon {
                animation: fa-spin 10s infinite linear;
            }
        }
		.count-box {
			position: relative;
			display: block;
			@include title-font;
			font-size: 60px;
			font-weight: 700;
			line-height: 1em;
			margin-bottom: 5px;
			color: var(--theme-color-light);
            @include media-breakpoint-down(sm){
                font-size: 50px;
            }
		}
		.counter-title {
			position: relative;
			display: block;
			@include title-font;
			font-size: 18px;
			line-height: 30px;
            font-weight: 400;
			margin-bottom: 0;
			color: var(--theme-color-light);
            @include media-breakpoint-down(sm){
                font-size: 16px;
                line-height: 28px;
            }
		}
        .icon {
            position: relative;
            @include transition(all 300ms ease);
            @include media-breakpoint-down(sm){
                width: 90px;
            }
        }
	}
}