/***====================================================================
    Checkout Section CSS
====================================================================***/

.checkout-section {
	position: relative;
	padding: 120px 0;
	.default-links {
		position: relative;
		margin-bottom: 40px;
		li {
			margin-bottom: 15px;
			line-height: 24px;
			padding: 18px 28px;
			background: #f9f9f9;
			color: var(--text-color);
			font-size: 17px;
			font-weight: 600;
			border: 1px solid #ebebeb;
			a {
				color: var(--theme-color-dark);
				text-decoration: underline;
			}
		}
	}
	.payment-options {
		li {
			position: relative;
			margin-bottom: 15px;
			.radio-option {
				position: relative;
				label {
					position: relative;
					display: block;
					padding-left: 30px;
					font-weight: 600 !important;
					text-transform: capitalize;
					letter-spacing: 1px;
					color: var(--text-color);
					cursor: pointer;
					font-size: 15px;
					strong {
						font-weight: 500;
						display: inline-block;
						color: var(--text-color);
						font-size: 15px;
						.dark-layout & {
							color: var(--theme-color-light);
						}
					}
					.small-text {
						position: relative;
						display: none;
						padding: 18px 26px;
						letter-spacing: 0px;
						text-transform: none;
						font-weight: normal;
						font-size: 15px;
						border-radius: 4px;
						line-height: 20px;
						line-height: 1.8em;
						margin-top: 20px;
						margin-left: -30px;
						background-color: #ececec;
						&:before {
							position: absolute;
							content: '';
							left: 24px;
							top: -10px;
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							border-bottom: 15px solid #ececec;
						}
					}
					img {
						position: relative;
						top: -3px;
						display: inline-block;
						max-width: 100%;
						padding-left: 30px;
						position: relative;
						display: inline-block;
						max-width: 100%;
						padding-left: 30px;
					}
				}
				input[type="radio"] {
					position: absolute;
					left: 0px;
					top: 3px;
					&:checked {
						+ {
							label {
								.small-text {
									display: block;
								}
							}
						}
					}
				}
				#payment-3 {
					top: 9px;
				}
			}
			.what-paypall {
				font-size: 13px;
				font-weight: 500;
				margin-left: 15px;
				color: var(--theme-color-dark);
				.dark-layout & {
					color: var(--theme-color-light);
				}
			}
		}
	}
}
.shop-form {
	.billing-inner {
		position: relative;
	}
	.form-group {
		position: relative;
		margin-bottom: 20px;
		.field-label {
			display: block;
			line-height: 24px;
			margin-bottom: 8px;
			color: var(--text-color);
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;
			.dark-layout & {
				color: var(--theme-color-light);
			}
			sup {
				position: relative;
				top: 0px;
				color: var(--text-color);
				font-size: 16px;
				.dark-layout & {
					color: var(--theme-color-light);
				}
			}
		}
	}
	.select2-container--default .select2-selection--single,
    input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
    textarea,
    select {
		position: relative;
		display: block;
		height: 60px;
		width: 100%;
		font-size: 15px;
		color: #666666;
		line-height: 23px;
		border-radius: 5px;
		font-weight: 400;
		padding: 10px 20px;
		background-color: var(--theme-color-light);
		border: 1px solid #DDDDDD;
		@include transition(all 300ms ease);
		.dark-layout & {
			background-color: var(--dark-layout-color-two);
			border-color: var(--theme-color-light);
			color: var(--theme-color-light);
		}
		&:focus,
		&:focus,
		&:focus {
			border-color: var(--theme-color1);
			.dark-layout & {
				border-color: var(--theme-color1);
			}
		}
	}
	input.address-two {
		margin-top: 12px;
	}
	textarea {
		height: 180px;
		resize: none;
		padding: 27px 32px;
		border-radius: 5px;
	}
}
.billing-details {
	.shop-form {
		.sec-title {
			margin-bottom: 20px;
		}
		.form-group.sec-title {
			margin-bottom: 10px;
			padding-bottom: 30px;
			margin-top: 20px;
		}
	}
}
.shop-order-box {
	position: relative;
	padding: 20px 28px 50px;
	border: 1px solid #d9d9d9;
	@include media-breakpoint-down(sm){
		padding: 15px;
	}
	.order-list {
		position: relative;
		li {
			position: relative;
			color: var(--text-color);
			font-size: 15px;
			font-weight: 500;
			margin-bottom: 12px;
			text-transform: uppercase;
			@include media-breakpoint-down(sm){
				font-size: 12px;
			}
			.dark-layout & {
				color: var(--theme-color-light);
			}
			span {
				float: right;
				width: 35%;
				text-align: left;
				font-size: 17px;
				text-transform: capitalize;
				@include media-breakpoint-down(sm){
					font-size: 12px;
				}
				.rtl & {
					text-align: right;
				}
			}
			span.dark {
				color: var(--theme-color-dark);
			}
		}
		li.total {
			padding: 8px 0px;
			border-top: 1px solid #e2e2e2;
			border-bottom: 1px solid #e2e2e2;
		}
	}
}
.payment-options {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}