/***====================================================================
    Error Section CSS
====================================================================***/

.error-section {
    position: relative;
    padding: 120px 0;
    .content-box {
        position: relative;
        text-align: center;
        .shape-thirtyeight {
            position: absolute;
            top: -270px;
            left: 55px;
            @include media-breakpoint-down(xxl){
                left: 0;
            }
            @include media-breakpoint-down(xl){
                display: none;
            }
        }
        .title {
            position: relative;
            color: var(--theme-color4);
            font-size: 500px;
            line-height: 1em;
            span {
                color: var(--theme-color-dark);
                .dark-layout & {
                    color: var(--theme-color-light);
                }
            }
            @include media-breakpoint-down(xl){
                font-size: 420px;
            }
            @include media-breakpoint-down(lg){
                font-size: 350px;
            }
            @include media-breakpoint-down(md){
                font-size: 250px;
            }
            @include media-breakpoint-down(md){
                font-size: 130px;
            }
        }
        .title-two {
            position: relative;
            margin-bottom: 80px;
            @include media-breakpoint-down(xl){
                margin-bottom: 30px;
            }
            @include media-breakpoint-down(lg){
                font-size: 54px;
            }
            @include media-breakpoint-down(md){
                font-size: 46px;
            }
            @include media-breakpoint-down(sm){
                font-size: 30px;
                margin-bottom: 15px;
            }
        }
        .text {
            position: relative;
            font-size: 36px;
            line-height: 56px;
            color: var(--theme-color-dark);
            margin-bottom: 30px;
            letter-spacing: 1px;
            max-width: 620px;
            margin: 0 auto 40px;
            @include media-breakpoint-down(xl){
                font-size: 30px;
                line-height: 1.4em;
            }
            @include media-breakpoint-down(lg){
                font-size: 24px;
                max-width: 100%;
            }
            @include media-breakpoint-down(md){
                font-size: 20px;
            }
            @include media-breakpoint-down(sm){
                font-size: 16px;
                line-height: 1.3em;
                margin-bottom: 15px;
            }
            .dark-layout & {
                color: var(--theme-color-light);
            }
        }
    }
}